@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using OnlineMusicProject.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* @model List<Playlists> *@
@model OnlineMusicProject.ViewModels.HomePage.PlaylistViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Online Music</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">
    <!-- Thêm Font Awesome vào phần <head> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .edit-button i {
            transition: color 0.3s ease;
        }

        .edit-button:hover i {
            color: black;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modalUpload{
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: white;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            border-radius: 5px;
            text-align: center;
            z-index: 10000;
        }

        .modalUpload-content{
            background-color: white;
            margin: 8% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            border-radius: 5px;
            text-align: left;
            z-index: 10000;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        #updateNameForm input {
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        #updatePlaylistForm input {
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        #updateNameForm button {
            padding: 10px;
            width: 100%;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #updatePlaylistForm button {
            padding: 5px;
            width: 100%;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            #updateNameForm button:hover {
                background-color: #45a049;
            }

        #updatePlaylistForm button:hover {
                background-color: #45a049;
            }

        .form-group{
           margin-bottom: 5px !important
        }
        .form-group label{
            font-size: 16px;
            font-weight: bold
        }
        .album-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px; 
            grid-auto-rows: 1fr;
            padding: 10px;
        }

        .single-album-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .single-album {
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            width: 150px;
            height: 150px ;
        }
        .arrow-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            font-size: 24px;
            color: #333;
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
            user-select: none;
            background-color: #f0f0f0;
            border-radius: 50%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }


            .swiper-button-prev:focus,
            .swiper-button-next:focus {
                outline: none;
            }

        .single-album .delete-btn {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .single-album:hover .delete-btn {
            opacity: 1;
        }

        #toggle-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            position: relative;
            left: 36%;
            top: 30px
        }

        .toggle-button {
            flex: 1;
            text-align: center;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            transition: transform 0.3s ease, background-color 0.3s ease;
            cursor: pointer;
        }

            .toggle-button.active {
                background-color: #007bff;
                color: white;
                transform: scale(1.2);
            }

            .toggle-button:not(.active) {
                background-color: #f9f9f9;
                color: black;
                transform: scale(1);
            }
            

    </style>
</head>

<body>
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent" style="display: flex; align-items: center; justify-content: center; text-align: center;">
            <p style="margin-right: 20px; margin-bottom: 0; color: black; font-weight: bold;font-size: 30px">My Music</p>
            <button id="playlist-content" class="edit-button" style="display: block; background-color: #4CAF50; color: white; border: none; font-size: 24px; padding: 10px 15px; border-radius: 50%; cursor: pointer;" onclick="openModal()">
                <i class="fas fa-plus"></i>
            </button>
            <button id="upload-songs-content" class="Upload-button" style="display: none; background-color: #4CAF50; color: white; border: none; font-size: 24px; padding: 10px 15px; border-radius: 50%; cursor: pointer;" onclick="openModalUpload()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </section>
    <div id="toggle-container">
        <div class="toggle-button active" id="playlist-button">
            <a href="#">Playlists</a>
        </div>
        <div class="toggle-button" id="upload-songs-button">
            <a href="#">Upload Songs</a>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()" style="text-align: right;">&times;</span>
            <form id="updateNameForm" asp-action="Playlist" method="post" enctype="multipart/form-data">
               <div style="text-align: center; margin-bottom:5px; display: flex">
                    <input type="file" name="avatar" accept="image/*" style="margin-right: 5px" onchange="previewImage(event)">
                    <br>
                    <img id="avatarPreview" src="" class="avatar-img" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;" />
                </div>
                <div>
                    <input name="playlistName" placeholder="Enter name" />
                    <span id="nameError" class="text-danger" style="display:none;">Playlist name is required.</span>
                    @if (TempData["RequiredMsg"] != null)
                    {
                        <span class="text-danger">@TempData["RequiredMsg"]</span>
                    }
                </div>
                <button type="submit">Create Playlist</button>
            </form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>

    <div id="myModalUpload" class="modalUpload">
        <div class="modalUpload-content">
            <span class="close" onclick="closeModalUpload()" style="text-align: right;">&times;</span>

            <form id="updatePlaylistForm" asp-action="AddSongs" method="post" enctype="multipart/form-data">
                <div class="form-group" style="text-align: center; margin-bottom:5px; display: flex">
                    <input type="file" name="FilePath" accept="audio/*" style="margin-right: 5px">
                </div>
                <div class="form-group">
                    <label for="Name">Title</label>
                    <input name="NameSong" id="Name" style="padding: 5px;">
                </div>
                <div class="form-group">
                    <label for="GenreId">Genres</label>
                    <select name="GenreId" id="GenreId" style="padding: 5px; width: 250px">
                        <option value="" disabled selected>Select Genres</option>
                        @foreach(var g in Model.SongGenres){
                            <option value="@g.GenreId">@g.Name</option>
                        }
                   
                    </select>
                </div>
                <div class="form-group">
                    <label for="ArtistId">Artists</label>
                    <select name="ArtistId" id="ArtistId" style="padding: 5px; width: 250px">
                        <option value="" disabled selected>Select Artist</option>
                        @foreach(var a in Model.Artists)
                        {
                           <option value="@a.ArtistId">@a.ArtistName</option>
                        }
                    </select>
                </div>

                <div class="form-group" style="display: flex; gap: 10px">
                    <label style="margin-bottom: 0">Status</label>
                    <input type="checkbox" name="IsPublic" style="width:20px; margin-bottom: 0">
                    <span style="display:flex; align-items:center">Is Public</span>
                </div>
                
                <button type="submit" class="submit-btn">Upload</button>
            </form>
        </div>
    </div>


    <section class="login-area section-padding-100" style="padding-top: 50px!important">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content" style="padding: 0">
                        <div class="login-form" style="display: flex; justify-content: center; text-align: left; overflow: hidden; max-width: 100%; height:240px">
                            <div>
                                @if (Model.PlaylistItems.Count() > 0)
                                {
                                    <div id="album-container" class="album-container" style="display: flex; gap: 10px; justify-content: center; padding: 20px 0">
                                        @foreach (var play in Model.PlaylistItems)
                                        {
                                            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item" style="display: flex; max-width: 280px;">
                                                <a asp-controller="Playlists" asp-action="Details" asp-route-playlistId="@play.PlaylistId" asp-route-title="@play.PlaylistName">
                                                    <div class="single-album" style="width: 180px">
                                                        <img src="@(!string.IsNullOrEmpty(play.PlaylistImage) ? play.PlaylistImage : "/img/playlist-img/default_Image.png")" alt="" style="width: 100%; height:100%;">
                                                        <div class="album-info" style="width: 160px">
                                                            <a href="#" style="margin-bottom: 20px">
                                                                <h5>@play.PlaylistName</h5>
                                                            </a>
                                                            <a class="delete-btn" asp-controller="Playlists" asp-action="Delete" asp-route-playlistId="@play.PlaylistId">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <p style="color: lightgray; font-size: 20px; font-weight: bold;">Tạo Playlist để lưu lại những bản nhạc mình yêu thích ngay nào</p>
                                }
                            </div>
                 
                        </div>
                        <div class="arrow-container" style="height: 0">
                            <div id="prev" class="swiper-button-prev prev-ads" style="cursor: pointer; margin-right: 20px; position: absolute; bottom: 150px; right: 670px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M15 18l-6-6 6-6"></path>
                                </svg>
                            </div>

                            <div id="next" class="swiper-button-next next-ads" style="cursor: pointer; margin-left: 20px; position: absolute; left: 670px; bottom: 145px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M9 18l6-6-6-6"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
   <script>
        function openModal() {
            document.getElementById("myModalUpload").style.display = "none";
            document.getElementById("myModal").style.display = "block";
        }

        function openModalUpload() {
            document.getElementById("myModal").style.display = "none";
            document.getElementById("myModalUpload").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        function closeModalUpload() {
            document.getElementById("myModalUpload").style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == document.getElementById("myModal")) {
                closeModal();
            } else if (event.target == document.getElementById("myModalUpload")) {
                closeModalUpload();
            }
        }

        document.getElementById("updateNameForm").addEventListener("submit", function (event) {
            var playlistName = document.querySelector('input[name="playlistName"]').value.trim();
            var nameError = document.getElementById("nameError");

            if (!playlistName) {
                event.preventDefault();
                nameError.style.display = "inline";
                return;
            }
            nameError.style.display = "none";
        });

    </script>
   <script>
        function previewImage(event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var imgElement = document.getElementById('avatarPreview');
                imgElement.src = e.target.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>

    <script>
        const albumContainer = document.getElementById('album-container');
        const albums = Array.from(albumContainer.getElementsByClassName('single-album-item'));
        const albumsPerPage = 3;
        let currentPage = 1;

        function showPage(page) {
            const startIndex = (page - 1) * albumsPerPage;
            const endIndex = startIndex + albumsPerPage;

            albums.forEach(album => album.style.display = 'none'); 

            const currentAlbums = albums.slice(startIndex, endIndex);
            currentAlbums.forEach(album => album.style.display = 'flex'); 
        }

        document.getElementById('next').addEventListener('click', function () {
            if (currentPage * albumsPerPage < albums.length) {
                currentPage++;
                showPage(currentPage);
            }
        });

        document.getElementById('prev').addEventListener('click', function () {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
            }
        });
        showPage(currentPage);
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const playlistButton = document.getElementById("playlist-button");
            const uploadSongsButton = document.getElementById("upload-songs-button");
            playlistButton.classList.add("active");

            playlistButton.addEventListener("click", function () {
                playlistButton.classList.add("active");
                uploadSongsButton.classList.remove("active");
            });

            uploadSongsButton.addEventListener("click", function () {
                uploadSongsButton.classList.add("active");
                playlistButton.classList.remove("active");
            });
        });

    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll('.toggle-button');

            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    buttons.forEach(btn => btn.classList.remove('active'));
                    this.classList.add('active');
                    const buttonId = this.id;

                    if (buttonId === 'playlist-button') {
                        document.getElementById('playlist-content').style.display = 'block';
                        document.getElementById('upload-songs-content').style.display = 'none';
                    } else if (buttonId === 'upload-songs-button') {
                        document.getElementById('playlist-content').style.display = 'none';
                        document.getElementById('upload-songs-content').style.display = 'block';
                    }
                });
            });
        });

    </script>
</body>

</html>
