@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using OnlineMusicProject.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* @model List<Playlists> *@
@model OnlineMusicProject.ViewModels.HomePage.PlaylistViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Online Music</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">
    <!-- Thêm Font Awesome vào phần <head> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .edit-button i {
            transition: color 0.3s ease;
        }

        .edit-button:hover i {
            color: black;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: white;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            border-radius: 5px;
            text-align: center;
            z-index: 10000;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        #updateNameForm input {
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        #updateNameForm button {
            padding: 10px;
            width: 100%;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            #updateNameForm button:hover {
                background-color: #45a049;
            }

        .album-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px; 
            grid-auto-rows: 1fr;
            padding: 10px;
        }

        .single-album-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .single-album {
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            width: 150px;
            height: 150px
        }

    </style>
</head>

<body>
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent" style="display: flex; align-items: center; justify-content: center; text-align: center;">
            <p style="margin-right: 20px; margin-bottom: 0; color: black; font-weight: bold;font-size: 30px">Playlists</p>
            <button class="edit-button" style="background-color: #4CAF50; color: white; border: none; font-size: 24px; padding: 10px 15px; border-radius: 50%; cursor: pointer;" onclick="openModal()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </section>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()" style="text-align: right;">&times;</span>
            <form id="updateNameForm" asp-action="Playlist" method="post" enctype="multipart/form-data">
               <div style="text-align: center; margin-bottom:5px; display: flex">
                    <input type="file" name="avatar" accept="image/*" style="margin-right: 5px" onchange="previewImage(event)">
                    <br>
                    <img id="avatarPreview" src="" class="avatar-img" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;" />
                </div>
                <div>
                   <input name="playlistName" placeholder="Enter name" />
                    @if (TempData["RequiredMsg"] != null)
                    {
                        <span class="text-danger">@TempData["RequiredMsg"]</span>
                    }
                </div>
                <button type="submit">Create Playlist</button>
            </form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>

    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <div class="login-form" style="display: flex; justify-content: center; text-align: left;">
                            <div>
                                @if (Model.PlaylistItems.Count() > 0)
                                {
                                    <div class="album-container">
                                        @foreach (var play in Model.PlaylistItems)
                                        {
                                            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
                                                <a asp-controller="Playlists" asp-action="Details" asp-route-playlistId="@play.PlaylistId">
                                                    <div class="single-album">
                                                        <img src="@(!string.IsNullOrEmpty(play.PlaylistImage) ? play.PlaylistImage : "/img/playlist-img/default_Image.png")" alt="" style="width: 100%; height:100%;">
                                                        <div class="album-info">
                                                            <a href="#">
                                                                <h5>@play.PlaylistName</h5>
                                                            </a>
                                                            @foreach(var cp in Model.PlaylistItemsWithCounts)
                                                            {
                                                                @if(cp.Playlists.PlaylistId == play.PlaylistId)
                                                                {
                                                                    <p>(@cp.CountSongInPlaylist)</p>
                                                                }
                                                              
                                                            }
                                                          
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {

                                    <p style="color: lightgray; font-size: 20px; font-weight: bold">Tạo Playlist để lưu lại những bản nhạc mình yêu thích ngay nào</p>

                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <script>
        // Modal Update Name
        var modal = document.getElementById("myModal");

        function openModal() {
            modal.style.display = "block";
        }

        function closeModal() {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal();
            }
        }

        document.getElementById("updateNameForm").onsubmit = function (event) {
            closeModal();
        };

    </script>
   <script>
        function previewImage(event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var imgElement = document.getElementById('avatarPreview');
                imgElement.src = e.target.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
</body>

</html>
