@using OnlineMusicProject.Models
@model OnlineMusicProject.ViewModels.SongPage.SongPlaylistViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Online Music</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/SongsOnline/songdetail.css">

    <style>
        .fixed-size-img {
            width: 120px;
            height: 120px;
            object-fit: cover;
        }

        .related-song-img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        .edit-button i {
            transition: color 0.3s ease;
        }

        .edit-button:hover i {
            color: black;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: white;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            border-radius: 5px;
            text-align: center;
            z-index: 10000;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        #updateNameForm input {
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        #updateNameForm button {
            padding: 10px;
            width: 100%;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            #updateNameForm button:hover {
                background-color: #45a049;
            }

        a:hover {
            background-color: #f0f0f0;
            transition: background-color 0.3s ease;
        }

    </style>
</head>

<body>

    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>@Model.Song.NameSong</p>
            <h2>@Model.Song.Artists.ArtistName</h2>
        </div>
    </section>
    <div style="margin-top: 20px">
        @if (TempData["MsgToDetail"] != null)
        {
            <div class="alert alert-info" style="text-align: center; font-size: 20px">
                @TempData["MsgToDetail"]
            </div>
        }
    </div>
    <div class="one-music-songs-area mb-70" style="margin-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-center justify-content-center">
                        <div class="song-thumbnail">
                            <img src="@Model.Song.ImageSong" alt="@Model.Song.NameSong" class="large-song-img">
                        </div>
                        <div class="song-play-area text-center w-100">
                            <div class="song-name">
                                <p>@Model.Song.NameSong</p>
                            </div>
                            <audio controls>
                                <source src="@Model.Song.FilePath" type="audio/mpeg">
                            </audio>
                            <div class="button-group">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <button class="playlist-btn" onclick="openModal()" style="width:200px">
                                        <span class="icon">❤️</span> Add to playlist
                                    </button>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Login" class="playlist-btn" style="width:200px">
                                        <span class="icon">❤️</span> Add to playlist
                                    </a>
                                }
                                <a href="@Model.Song.FilePath" download class="download-btn" style="width: 200px">
                                    <span class="icon">⬇</span> Download
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()" style="text-align: right;">&times;</span>

            <div style="border-bottom: 1px solid lightgray; margin: 5px 0">
                @foreach (var play in Model.PlaylistItems)
                {
                    <div>
                        <a asp-controller="Users"
                           asp-action="addToPlaylist"
                           asp-route-itemId="@play.PlaylistId"
                           asp-route-songId="@Model.Song.SongId"
                           style="display: flex; justify-content: space-between;
                        text-decoration: none;padding: 0 5px;">
                                <div style="display: flex; align-items: center;">
                                <p style="color: black; font-size: 16px; margin-bottom: 0">@play.PlaylistName</p>
                                @foreach (var cp in Model.PlaylistItemsWithCounts)
                                {
                                        @if (cp.Playlists.PlaylistId == play.PlaylistId)
                                        {
                                            <p style="margin-bottom: 0; margin-left: 5px">(@cp.CountSongInPlaylist)</p>  
                                        }
                                }
                            </div>
              
                            <p style="color: black; font-size: 16px; margin-bottom: 0">@play.CreatedAt?.ToString("dd/MM/yyyy")</p>
                        </a>
                    </div>
                }
            </div>
            <form id="updateNameForm" asp-controller="Songs" asp-action="CreatePlaylist" method="post">
                <div>
                    <input type="hidden" name="songId" value="@Model.Song.SongId" />
                    <input name="playlistName" placeholder="Enter new name" />
                    @if (TempData["RequiredMsg"] != null)
                    {
                        <span class="text-danger">@TempData["RequiredMsg"]</span>
                    }
                </div>
                <button type="submit">Create Playlist</button>
            </form>

        </div>
    </div>


    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    @* <!-- All Plugins js --> *@
    @* <script src="/js/plugins/plugins.js"></script> *@
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <script>

        var modal = document.getElementById("myModal");

        function openModal() {
            modal.style.display = "block";
        }

        function closeModal() {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal();
            }
        }

        document.getElementById("updateNameForm").onsubmit = function (event) {
            closeModal();
        };


    </script>
</body>

</html>