@using Microsoft.AspNetCore.Identity;
@using OnlineMusicProject.Models
@model OnlineMusicProject.ViewModels.HomePage.SongArtistViewModel
@inject SignInManager<Users> signInManager;
@inject UserManager<Users> userManager;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var user = await userManager.GetUserAsync(User);
    var fullName = user != null ? user.FullName : "Guest";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Online Music</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
       
        .dropdown-menu {
            display: none;
        }

        .nav-item:hover .dropdown-menu {
            display: block;
            position: absolute;
        }

        .avatar-img {
            width: 40px; 
            height: 40px; 
            border-radius: 50%; 
            object-fit: cover; 
        }

        button:focus {
            outline: none;
            border: none;
        }

        .b-search {
            padding: 2px 2px 2px 25px;
            width: 180px;
            border: none;
            outline: none;
            font-size: 15px;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a asp-controller="Home" asp-action="Index" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
                        <div class="box_search new_header active-search">
                            <form asp-controller="Search" asp-action="Index" method="get">
                                <span class="search-icon" style="font-size: 15px; color: #555; position: relative; left: 22px">
                                    <i class="fas fa-search"></i>
                                </span>
                                <input type="search" class="b-search new_header" name="searchQuery" placeholder="Search..." value="@ViewData["SearchQuery"]">
                            </form>
                        </div>
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-controller="Songs" asp-action="SongList">Songs</a></li>
                                    <li>
                                        <a href="#">Genres</a>
                                        <ul class="dropdown">
                                            @foreach(var cate in Model.Genres)
                                            {
                                                <li><a asp-controller="Genres" asp-action="Songs" asp-route-genre="@cate.Name">@cate.Name</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="/Users/Artists">Artists</a></li>
                                    <li><a asp-controller="Albums" asp-action="List" >Albums</a></li>
        
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        @if (signInManager.IsSignedIn(User))
                                        {
                                            <ul class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="display: flex; align-items: center;">
                                                    <img src="@(!string.IsNullOrEmpty(user.Avatar) ? user.Avatar : "/img/avatar-img/avatar.png")"  alt="User Avatar" class="avatar-img" style="margin-right: 10px;" />
                                                    <p style="margin: 0; color: white; font-weight: bold">@fullName</p>
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <a class="dropdown-item nav-link text-dark" asp-controller="Admin" asp-action="DashBoard">Dashboard</a>
                                                    }
                                                    <a class="dropdown-item nav-link text-dark" asp-controller="Users" asp-action="Profile">Profile</a>
                                                    <a class="dropdown-item nav-link text-dark" asp-controller="Users" asp-action="Playlist">My Music</a>
                                                    <a class="dropdown-item nav-link text-dark" asp-controller="Users" asp-action="HistoryOfListening">Recently</a>
                                                    <a class="dropdown-item nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                                                </div>
                                            </ul>
                                        }
                                        else
                                        {
                                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login / Register</a>
                                        }
                                    </div>
                               
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Beyond Time <span>Beyond Time</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/img/bg-img/bg-2.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Colorlib Music <span>Colorlib Music</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="latest-albums-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>See what’s new</p>
                        <h2>Latest Albums</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        @foreach (var al in Model.Albums)
                        {
                            <form asp-controller="Users" asp-action="HistoryOfListening" method="post">
                                <input type="hidden" name="albumId" value="@al.AlbumId" />
                                <button type="submit" style="background: transparent; border: none; display: flex;align-items: center; cursor: pointer">
                                    <div class="single-album">
                                        <img src="@al.Album_Image" alt="@al.Title" style="width: 196px; height: 245px">
                                        <div class="album-info">
                                            <h5>@al.Title</h5>
                                            <p>@al.Artists.ArtistName</p>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Latest Albums Area End ##### -->
    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(img/bg-img/bg-4.jpg);">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img src="@Model.MaxListener.ImageSong" alt="@Model.MaxListener.NameSong" style="height: 310px">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <p style="font-size: 20px">Top 1</p>
                            <h2>@Model.MaxListener.NameSong</h2>
                        </div>
                        <p>Một ca khúc nổi bật được nhiều người nghe nhất trong tuần qua. Bài hát nhanh chóng trở thành một hit lớn và được yêu thích rộng rãi trên toàn cầu. Với giai điệu bắt tai, bài hát này đã chiếm được cảm tình của người nghe nhờ vào đặc điểm nổi bật như lời ca sâu sắc, giai điệu dễ nhớ, hoặc sự kết hợp độc đáo giữa các thể loại âm nhạc tạo giúp thư giãn những ngày cuối tuần.</p>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>@Model.MaxListener.NameSong</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="@Model.MaxListener.FilePath">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Featured Artist Area End ##### -->
    <!-- ##### Miscellaneous Area Start ##### -->
    <section class="miscellaneous-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- ***** Weeks Top ***** -->
                <div class="col-12 col-lg-4">
                    <div class="weeks-top-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>See what’s new</p>
                            <h2>This week’s top</h2>
                        </div>

                        @foreach(var s in Model.SongsWeekTop)
                        {
                                <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
                                <form asp-controller="Users" asp-action="HistoryOfListening" method="post">
                                    <input type="hidden" name="songId" value="@s.SongId" />
                                    <button type="submit" style="background: transparent; border: none; display: flex;align-items: center; cursor: pointer">
                                        <div class="thumbnail">
                                            <img src="@s.ImageSong" alt="@s.NameSong" style="width: 73px; height: 73px; object-fit: cover;">
                                        </div>
                                        <div class="content-">
                                            <h6 style="text-align: left">@s.Artists.ArtistName</h6>
                                            <p>@s.NameSong</p>
                                        </div>
                                    </button>

                                </form>
                                </div>
                        }
                   
                    </div>
                </div>

                <!-- ***** New Hits Songs ***** -->
                <div class="col-12 col-lg-4">
                    <div class="new-hits-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>See what’s new</p>
                            <h2>New Hits</h2>
                        </div>
             
                        @foreach(var s in Model.SongsNewHit)
                        {
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                                <div class="first-part d-flex align-items-center">
                                    <form asp-controller="Users" asp-action="HistoryOfListening" method="post">
                                        <input type="hidden" name="songId" value="@s.SongId" />
                                        <button type="submit" style="background: transparent; border: none; display: flex;align-items: center; cursor: pointer">
                                            <div class="thumbnail">
                                                <img src="@s.ImageSong" alt="@s.NameSong" style="width: 73px; height: 73px; object-fit: cover;">
                                            </div>
                                            <div class="content-">
                                                <h6>@s.Artists.ArtistName</h6>
                                                <p>@s.NameSong</p>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="@s.FilePath">
                                </audio>
                            </div>
                        }
                      
                    </div>
                </div>

                <!-- ***** Popular Artists ***** -->
                <div class="col-12 col-lg-4">
                    <div class="popular-artists-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>See what’s new</p>
                            <h2>Popular Artist</h2>
                        </div>

                        @foreach(var a in Model.Artists)
                        {
                            <a asp-controller="Artists" asp-action="SongsOf" asp-route-artist="@a.ArtistName" style="cursor:pointer">
                                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms" style="margin: 20px 0">
                                    <div class="thumbnail">
                                        <img src="@a.ArtistImage" alt="@a.ArtistName" style="width: 65px; height: 65px; object-fit: cover; ">
                                    </div>
                                    <div class="content-">
                                        <p>@a.ArtistName</p>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Miscellaneous Area End ##### -->
    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                        <p>See what’s new</p>
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text">
                        <a href="#">
                            Online Music - Relaxation options for every home
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Songs" asp-action="SongList">Songs</a></li>
                            <li><a href="/Users/Artists">Artists</a></li>
                            <li><a asp-controller="Albums" asp-action="List" >Albums</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>

</html>